<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672796381698-rabiheuni35vgotf3r95c8nd5sefttad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672796381698-rabiheuni35vgotf3r95c8nd5sefttad</string>
	<key>API_KEY</key>
	<string>AIzaSyDGYSplftaHDEnMX0HPMiZIT1j7gevfeH0</string>
	<key>GCM_SENDER_ID</key>
	<string>672796381698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pac04</string>
	<key>PROJECT_ID</key>
	<string>pac-04-2022-1</string>
	<key>STORAGE_BUCKET</key>
	<string>pac-04-2022-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672796381698:ios:9f4e366b6068dfaeea8d1b</string>
</dict>
</plist>